.b-paper{
    height: 100px;
    width: 500px;
    margin: 20px auto;
    text-align: center;
    display: block;
    padding: 30px;
}

.b-country{
    font-weight: bold;
    font-size: larger;
}

.b-slider{
    height: 50px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    display: block;
    /*padding: 30px;*/
}

p{
    height: 20px;
    width: 1000px;
    margin : 10px auto;
    text-align: center;
    display: block;
    padding-top: 30px;
}

.Hemispheres{
    margin: 0 auto;
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

Hemispheres__RadioButton {
    /*display: inline-block;*/
    /*width: 100px;*/
}

/*.Hemispheres div {*/
    /*display: inline-block;*/
    /*width: 1000px;*/
/*}*/
